/*----------------------------------------------------------------------- 
table of content
-------------------------------------------------------------------------* /

"FundMe - is a Premium HTML Responsive Templeate by HTMLmate Team. You can use this for anykind of Nonprofit website

File:           CSS Base
Version:        1.1
Last change:     
Author:         HTMLmate


/* ----------------------------
* 1 = Fonts 
* 2 = Global 
* 3 = Header
* 4 = Ways of help
* 5 = Countdown
* 6 = Recent Causes
* 7 = Our Impact
* 8 = Can We Do
* 9 = Video bg section
* 10 = Latest news
* 11 = Partner 
* 12 = Footer
* 13 = page head section

/*----------------------------------------------------------------------- 
End of Table of Content
-------------------------------------------------------------------------* /

/*----------------------------------------------------------------------- 
fonts [*1]
-------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Merriweather+Sans:400,400i,700,700i,800,800i");

/*----------------------------------------------------------------------- 
Global [*2]
-------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #585858;
  font-family: "Lato", sans-serif;
}
p {
  font-family: "Merriweather Sans", sans-serif;
}
li {
  display: inline-block;
}
section {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  transition: 0.3s all ease-in-out;
  color: #0e0e0e;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
.form-control {
  box-shadow: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*------------------------
colom-setting
-------------------------*/
.colmd3 {
  max-width: 270px;
}
.colmd4 {
  max-width: 370px;
}
.colmd6 {
  max-width: 570px;
}
/*------------------------
Margin-Setting
-------------------------*/
.mt40 {
  margin-top: 40px;
}
.mt5 {
  margin-top: 5px;
}
.mt25 {
  margin-top: 25px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr45 {
  margin-right: 45px;
}
.mr5 {
  margin-right: 5px;
}
.mr20 {
  margin-right: 20px;
}
.mr15 {
  margin-right: 15px;
}
.mr25 {
  margin-right: 25px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb40 {
  margin-bottom: 40px;
}
.margin0 {
  margin: 0 auto;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.ml15 {
  margin-left: 15px;
}
/*------------------------
Padding-Setting
-------------------------*/
.pb30 {
  padding-bottom: 30px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb80 {
  padding-bottom: 80px;
}
.pt75 {
  padding-top: 75px;
}
.pt40 {
  padding-top: 40px;
}
.pt60 {
  padding-top: 60px;
}
.pt15 {
  padding-top: 15px;
}
.pl30 {
  padding-left: 30px;
}
.p10 {
  padding: 20px;
}
/*----------------------------------------------------------------------- 
Color code
-------------------------------------------------------------------------*/
.black {
  color: #0e0e0e;
}
.red {
  color: #d7062c;
}
.social-list li a span {
  color: #bebebe;
  transition: 0.3s all ease-in-out;
  padding: 10px;
}
.section-content {
  padding: 95px 0px 80px;
}
.section-title {
  padding-bottom: 30px;
}
.section-title .section-title-text p {
  color: #d7062c;
  margin-bottom: 0;
}
.section-title-text h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0e0e0e;
}
.donate-btn {
  height: 45px;
  width: 150px;
  background-color: #d7062c;
  transition: 0.3s all ease-in-out;
}
.donate-btn a {
  color: #ffffff;
  transition: 0.3s all ease-in-out;
  position: relative;
  display: block;
  width: 100%;
  line-height: 45px;
  text-align: center;
}
.donate-btn:hover {
  background-color: #010c25;
}

.home-donate.donate-btn-1 a {
  color: #0e0e0e;
  background-color: #f1f1f1;
  padding: 10px 20px;
  transition: 0.3s all ease-in-out;
}
.home-donate.donate-btn-1 a:hover {
  background-color: #d7062c;
  color: #ffffff;
}
.home-donate.donate-btn-1 {
  position: absolute;
  right: 45px;
  top: 36px;
}
div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 10%;
  height: 10%;
  overflow: visible;
  background: #ffffff url("../img/rcnbLogoBlack.png") no-repeat center center;
}
.hades.tparrows:hover:before {
  background: #000;
  background: rgb(16, 16, 16);
}
/*---hero section---*/
/* @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,700); */
#banner1 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  background: right -5.5em center no-repeat rgb(255, 199, 0);
}

#banner1 h1,
#banner1 h2,
#banner1 h3,
#banner1 h4,
#banner1 h5,
#banner1 h6 {
  color: #3e4555;
}

#banner1 .bg-light {
  background-color: #f4f8fa !important;
}

#banner1 h2 {
  font-size: 48px;
  line-height: 1;
  letter-spacing: -1px;
  padding-top: 150px;
}

#banner1 .line-height {
  height: 56px;
}

#banner1 .btn-sub {
  border-radius: 10em;
  background: #f55110;
  color: white;
  width: auto;
  padding: 8px 50px;
  cursor: pointer;
  margin-left: -4px;
  font-weight: 500;
  font-size: 16px;
}

#banner1 .btn-sub:hover {
  background: white;
  color: #f55110;
}

@media (min-width: 2301px) and (max-width: 2700px) {
  #banner1 {
    background-position: 70% center;
  }
}

@media (min-width: 1900px) and (max-width: 2300px) {
  #banner1 {
    background-position: 80% center;
  }
}

@media (min-width: 1500px) and (max-width: 1680px) {
  #banner1 {
    background-position: right center;
  }
}

@media (max-width: 1100px) {
  #banner1 {
    background-position: right -14em center;
  }
  #banner1 h2 {
    font-size: 40px;
  }
  #banner1 .form-control.text-email {
    width: 59%;
  }
  #banner1 .btn-sub {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 30px 0;
  }
  #banner1 {
    background-image: none;
  }
  #banner1 .line-height {
    font-size: 14px;
    line-height: 50px;
  }
  #banner1 .form-control.text-email {
    border-radius: 25px 0 0 25px;
    text-indent: 20px;
  }
  #banner1 .btn-sub {
    border-radius: 0 25px 25px 0;
    padding: 0 15px;
  }
  #banner1 img {
    margin-top: 25px;
  }
}

@media (max-width: 320px) {
  .lottie {
    width: 250px;
    height: 250px;
  }
  #banner1 .btn-sub {
    padding: 0 10px;
  }
}

/*----------------------------------------------------------------------- 
Start of thurst
-------------------------------------------------------------------------*/

#services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f0f0f0;
}
#services h3 {
  font-weight: 400;
}

#services a {
  font-weight: 500;
}
.icon {
  width: 175px;
  height: 175px;
  line-height: 175px;
  max-width: 100%;
  background: #d7062c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  color: #fff;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 40px;
}
.icon:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  transition: all ease 0.7s;
}
@media screen and (max-width: 480px) {
  #services {
    padding: 60px 10px;
  }
  #services h3 {
    margin-bottom: 20px;
  }
  #services p {
    font-size: 14px;
    max-width: 100%;
  }
}

/*----------------------------------------------------------------------- 
End of thurst [*4]
-------------------------------------------------------------------------*/
/*--About us in aboutus.html*/

/*----------------------------------------------------------------------- 
Start of recent causes [*6]
-------------------------------------------------------------------------*/
.recent-causes-section .section-title {
  padding-bottom: 60px;
}
.recent-causes-pic-text {
  box-shadow: 0px 0px 10px 3px rgba(222, 222, 222, 0.5);
  transition: 0.3s all ease-in-out;
}
.cause-text {
  position: relative;
}
canvas {
  height: 80px;
  width: 80px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 10px;
}
.donate-piechart strong {
  position: absolute;
  top: 40px;
  left: 37px;
  color: #d7062c;
}
.donate-piechart {
  position: absolute;
  top: -18%;
  left: 35%;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 30px 6px rgba(222, 222, 222, 0.5);
}
.gola-reach li {
  font-weight: 600;
}
.cause-text-head h3 {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  color: #0e0e0e;
}
.gola-reach-list {
  padding: 0px 65px;
}
.gola-reach-list li:first-child {
  padding-right: 20px;
}
.cause-item {
  padding: 10px 10px 30px 10px;
}
.cause-item:hover .recent-causes-pic-text {
  box-shadow: 2px 5px 20px 6px rgba(222, 222, 222, 0.5);
}
/*----------------------------------------------------------------------- 
End of recent causes [*6]
-------------------------------------------------------------------------*/

/*----------------------------------------------------------------------- 
Start of Can We Do [*8]
-------------------------------------------------------------------------*/
.we-can-do-icon {
  font-size: 52px;
}
.we-can-do-text h3 {
  font-size: 26px;
  font-weight: 700;
}
.we-can-do-text-icon {
  padding: 65px 0px 104px 0px;
  box-shadow: 0px 0px 5px 5px rgba(222, 222, 222, 0.5);
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.hide-icon,
.we-can-do-text,
.hide-text,
.hide-icon span,
.hide-icon,
.we-can-do-icon {
  transition: 0.3s all ease-in-out;
}
.hide-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
}
.we-can-do-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  z-index: 1;
}
.hide-icon span {
  font-size: 150px;
  opacity: 0.1;
}
.hide-text {
  position: absolute;
  bottom: -35px;
  opacity: 0;
  left: 40px;
  visibility: hidden;
}
.hide-text p {
  color: #666666;
  max-width: 200px;
}
.we-can-do-text-icon:hover .we-can-do-text {
  top: 25%;
}
.we-can-do-text-icon:hover .hide-text {
  opacity: 1;
  visibility: visible;
  bottom: 45px;
  left: 40px;
}
.we-can-do-text-icon:hover .we-can-do-icon {
  opacity: 0;
}
.we-can-do-text-icon:hover .hide-icon {
  opacity: 1;
  visibility: visible;
}
/*----------------------------------------------------------------------- 
End of Can We Do 
-------------------------------------------------------------------------*/

/* ======= RESUME ======= */

#donation {
  background: url(../img/11.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
}

#donation .overlay {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.73) 17%,
    rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
    rgba(0, 0, 0, 0.4) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.8)),
    color-stop(17%, rgba(0, 0, 0, 0.73)),
    color-stop(35%, rgba(0, 0, 0, 0.66)),
    color-stop(62%, rgba(0, 0, 0, 0.55)),
    color-stop(100%, rgba(0, 0, 0, 0.4))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.73) 17%,
    rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
    rgba(0, 0, 0, 0.4) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.73) 17%,
    rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
    rgba(0, 0, 0, 0.4) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.73) 17%,
    rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
    rgba(0, 0, 0, 0.4) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.73) 17%,
    rgba(0, 0, 0, 0.66) 35%,
    rgba(0, 0, 0, 0.55) 62%,
    rgba(0, 0, 0, 0.4) 100%
  );
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
  /* IE6-9 */
  padding: 80px 0;
  background-attachment: fixed;
}

#donation h2 {
  color: #fff;
}

a.donate-btn {
  background: none;
  display: inline-block;
  padding: 10px 20px;
  color: #ddd;
  border: 2px solid #ccc;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.donate-btn:hover,
a.donate-btn:active {
  /*background-position: -100% 100%;*/
  color: #fff;
  /*font-weight: 400;*/
  border: 2px solid #ccc;
  background-color: rgba(254, 254, 254, 0.2);
  padding: 10px 30px;
}
/* ======= PORTFOLIO ======= */

#portfolio {
  padding-top: 90px;
  padding-bottom: 100px;
  background: #fff;
}

#portfolio * {
  z-index: 2;
}

#portfolio .portfolio-row {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 950px) {
  #portfolio .portfolio-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#portfolio .section-heading {
  padding-bottom: 0px;
  margin-bottom: 20px;
}

#portfolio .coming-soon {
  margin-bottom: 50px;
  text-transform: lowercase;
}

#portfolio .portfolio-item-wrapper {
  width: 31%;
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 1% 30px;
  vertical-align: top;
}

@media (max-width: 950px) {
  #portfolio .portfolio-item-wrapper {
    width: 47%;
  }
}

@media (max-width: 630px) {
  #portfolio .portfolio-item-wrapper {
    width: 100%;
  }
}

#portfolio .portfolio-item {
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#portfolio .portfolio-item img {
  max-width: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#portfolio .portfolio-overlay {
  position: absolute;
  background-color: rgba(26, 30, 31, 0.85);
  width: 100%;
  height: 100%;
  opacity: 0;
}

#portfolio .portfolio-info,
#portfolio .links,
#portfolio .links a i,
#portfolio .links a i::after,
#portfolio .portfolio-overlay {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

#portfolio .links {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

#portfolio .links a i {
  position: relative;
  color: #fff;
  font-size: 24px;
  margin: 0 13px;
  z-index: 100;
}

#portfolio .links a:hover i {
  color: #fff;
}

#portfolio .links a i::after {
  position: absolute;
  content: "";
  left: -7px;
  top: -7px;
  width: 30px;
  height: 30px;
  /*border: 1px solid #fff;*/
  z-index: -1;
  border-radius: 50%;
}

#portfolio .links a:hover i::after {
  /*background: rgba(255, 255, 255, 0.2);*/
}

#portfolio .portfolio-info {
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: #d7062c;
  color: #fff;
  height: 45px;
  width: 100%;
  text-align: center;
}

#portfolio .portfolio-item:hover .portfolio-overlay,
#portfolio .portfolio-item:hover .links {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

#portfolio .portfolio-item:hover .portfolio-info {
  bottom: 0;
}

#portfolio .portfolio-info h3 {
  font-size: 14px;
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}
